<h2 class="mt-4 text-4xl font-bold sm:text-3xl dark:text-white text-center">Клиенту</h2>

<div class="w-full max-w-screen-xl mx-auto p-4 md:py-8">
    <p class="mb-3 text-lg dark:text-white text-justify">
        Ознакомьтесь с нашим разнообразным меню, где вы найдете лучшие блюда итальянской кухни. От свежих пицц и
        ароматных паст до аппетитных закусок и десертов. Мы гарантируем, что каждое блюдо приготовлено с любовью и из
        свежих ингредиентов.
    </p>
    <h4 class="text-3xl font-bold dark:text-white mb-4">Доставка</h4>
    <p class="mb-3 text-lg dark:text-white text-justify">Нет времени посетить нашу пиццерию? Не беда! Мы предлагаем
        быструю и надежную услугу доставки. Закажите наши блюда, и мы привезем их прямо к вам домой или в офис. Просто
        выберите свои любимые блюда из меню и наслаждайтесь!</p>
    <p class="mb-3 text-lg dark:text-white text-justify">
        У нас есть удобные способы связи. Если у вас есть какие-либо вопросы, предложения или пожелания, не стесняйтесь
        обращаться к нам. Мы всегда готовы помочь!
    </p>

    <h4 class="text-3xl font-bold dark:text-white mb-4">Почему выбирают нас:</h4>
    <ul class="w-full mb-3 text-lg text-justify space-y-1 list-disc list-inside dark:text-gray-400">
        <li>
            <span class="font-bold">Итальянский вкус:</span> Мы готовим с любовью и страстью, чтобы вам было вкусно.
        </li>
        <li>
            <span class="font-bold">Свежие ингредиенты:</span> Мы выбираем только качественные продукты.
        </li>
        <li>
            <span class="font-bold">Уютная атмосфера:</span> Мы создаем комфортное место для вашего отдыха.
        </li>
        <li>
            <span class="font-bold">Быстрая доставка:</span> Мы привозим блюда быстро и надежно.
        </li>
        <li>
            <span class="font-bold">Дружелюбный персонал:</span> Наши сотрудники всегда готовы к встрече с улыбкой.
        </li>
    </ul>
</div>

<%- include('./partials/footer.ejs') %>